@import url('https://fonts.googleapis.com/css2?family=word+sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "work sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
} 
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;


}
/* header style  */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.navbar, .bannar{
    max-width: 1440px;
    margin: 0 auto;
}
/* bannar style  */
.bannar-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bannar-title{
    font-weight: 700;
    font-size: 4rem;
}
.bannar-img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .navbar, .navlinks{
        flex-direction: column;
    }
}