@import url('https://fonts.googleapis.com/css2?family=word+sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "work sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
} 
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;


}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style  */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.text-gray{
    color: #424242;
}
.text-primary{
    color: #ff900e;
}
.text-light-gray{
    color: #727272;
}
.navbar, .bannar{
    max-width: 1440px;
    margin: 0 auto;
}
/* bannar style  */
.bannar-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bannar-title{
    font-weight: 700;
    font-size: 4rem;
}
.bannar-img{
    width: 100%;
}
/* team and feature related style  */
.teams{
    align-items: center;
    margin-top: 130px;
    gap: 100px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;

}
.our-features{
    max-width: 537px;
  
    /* border: 1px solid red; */

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;

}
#quick-list{
    font-weight: 500;
}
/* features-section */
#feature-section-title{
    border-left: 5px solid rgb(223, 145, 0);
    padding-left: 20px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
   

}
.feature-card{
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    
}
.features{
    display: flex;
    gap:140px;
}

/* some fact card */
.fact-card{
    border: 1px solid rgb(253, 184, 80);
      width: 240px;
      height: 240px; 
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      text-align: center;
     
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
    /* border: 1px solid red; */
}
.sponsor-info{
    max-width: 530px;
    margin: 30px auto;
    text-align: center;

}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{ 
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width:576px) {
     .navbar,
     .navlinks, 
     .teams{
        flex-direction: column;
    }
    .team-img-container,
     .facts-container,
     .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-content: center;
        gap: 24px;
        justify-items: center;
      
    }
    .sponsor-companies{
      justify-items: center;
      gap: 30px;
    }
    
    
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
     .facts-container,
     .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
       
     }    
}