@import url('https://fonts.googleapis.com/css2?family=word+sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "work sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}